@use "/Users/bryan/Projects/finance-app/global-trends/frontend/node_modules/react-widgets/scss/styles.scss" with (
  $input-height: 25px,
  // Most component variables are forwarded with a namespace
  $list-selected-bg: #49c6de,
  $list-focus-bg: white,
  $list-color: black,
  $list-padding-y: 5px,
  $widget-font-size: 12px,
  $widget-bg: #F4FAFF,
  $widget-border-color: #ECECEC,
  $widget-border-radius: 0,
 
);